</div>
      
<!-- FOOTER -->
<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">Aruan2D</div>
  </div>
  <div class="mdl-mini-footer__right-section">
    <ul class="mdl-mini-footer__link-list">
      <li>
        <a class="social-github" href="https://github.com/aruangalves">
        <img src="/images/blank.gif">              
        GitHub</a>
      </li>
      <li>
        <a class="social-instagram" href="https://instagram.com/aruan2d">                
        <img src="/images/blank.gif">              
        Instagram</a>
      </li>
      <li>
        <a class="social-linkedin" href="https://www.linkedin.com/in/aruan-galves-nascimento-amaral-74161615a/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BfRXyOPy9TxSLhgoLmQwN5w%3D%3D">
        <img src="/images/blank.gif">              
        Linkedin</a>
      </li>

    </ul>
  </div>
</footer>
<!-- END FOOTER -->


</main>

</div>

<!--  SCRIPTS  -->  
<script defer src="/mdl/material.min.js"></script>
<script src="/js/frontController.js"></script>
<!--  SCRIPTS END  -->

</body>
</html>