<%- include('includes/header') -%>

<div class="mdl-cell mdl-cell--12-col">
  <br>
  <h1 id="design">: : Design : .</h1>   
  
  <h4 class="subtitle">Todos os projetos desenvolvidos em design. Cada trabalho organizado em categorias e por data mais recente.</h4>
  <p class="categories">
    <strong>Categorias:</strong>
    <a href="#logos"><button type="button" class="mdl-chip">
        <span class="mdl-chip__text">Logos</span>
    </button></a>
    <a href="#grafica"><button type="button" class="mdl-chip">
      <span class="mdl-chip__text">Gráfica</span>
    </button></a>
    <a href="#artes"><button type="button" class="mdl-chip">
      <span class="mdl-chip__text">Artes</span>
    </button></a>
    <a href="#videos"><button type="button" class="mdl-chip">
      <span class="mdl-chip__text">Vídeos</span>
    </button></a>
  </p>
  <br>       
</div>

<div class="mdl-cell mdl-cell--12-col design-logo">
  <h2 id="logos">Logos .</h3>                                
  <h6 class="subtitle">Todos os projetos desenvolvidos em design. Cada trabalho organizado em categorias e por data mais recente.</h6>
</div>

<h4 class="design-showcase-header">Casa do Ovo</h4>
<div class="mdl-cell mdl-cell--12-col design-showcase">
  <img class="design-highlight" src="/upload/images/casadoovo.png">          
  <p>
    Uma das primeiras logos que criei continua sendo uma das minhas favoritas: a idéia inicial deriva das duas cores principais que foram definidas pro projeto: vermelho e amarelo. O chapéu faz alusão a um dos nomes propostos para o negócio (casa caipira) antes de fixar com o nome final "Casa do Ovo", além de cumprir com o objetivo de tornar o personagem carismático.
  </p>
  
</div>

<h4 class="design-showcase-header">Paulista Burguer</h4>
<div class="mdl-cel mdl-cell--12-col design-showcase design-showcase-inv">          
  <img class="design-highlight" src="/upload/images/paulistaburguer.png">
  <p>
    Texto de exemplo mostrando as características da logomarca. Vamos ver.
  </p>            
</div>


<h4 class="design-showcase-header">AMCC</h4>
<div class="mdl-cell mdl-cell--12-col design-showcase">
  <img class="design-highlight" src="/upload/images/amcc.png">          
  <p>
    Uma das primeiras logos que criei continua sendo uma das minhas favoritas: a idéia inicial deriva das duas cores principais que foram definidas pro projeto: vermelho e amarelo. O chapéu faz alusão a um dos nomes propostos para o negócio (casa caipira) antes de fixar com o nome final "Casa do Ovo", além de cumprir com o objetivo de tornar o personagem carismático.
  </p>
  
</div>

<button id="more-logo" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" style="margin: auto; border-radius: 5px;">
  <i class="material-icons">add</i> Carregar mais
</button>




<div class="mdl-cell mdl-cell--12-col">
  <br><br>
  <hr>
  <a class="accent no-decoration design-totop" href="#design"><i class="material-icons accent">arrow_drop_up</i> Retornar ao topo</a>
  <br><br>
</div>

<div class="mdl-cell mdl-cell--12-col design-print">
  <h2 id="grafica">Gráfica .</h3>                                
  <h6 class="subtitle">Todos os projetos desenvolvidos em design. Cada trabalho organizado em categorias e por data mais recente.</h6>
</div>

<h4 class="design-showcase-header">Casa do Ovo</h4>
<div class="mdl-cell mdl-cell--12-col design-showcase">
  <img class="design-highlight" src="/upload/images/casadoovo.png">          
  <p>
    Uma das primeiras logos que criei continua sendo uma das minhas favoritas: a idéia inicial deriva das duas cores principais que foram definidas pro projeto: vermelho e amarelo. O chapéu faz alusão a um dos nomes propostos para o negócio (casa caipira) antes de fixar com o nome final "Casa do Ovo", além de cumprir com o objetivo de tornar o personagem carismático.
  </p>          
</div>

<div class="design-thumbnails">
  <h4>Galeria</h4>
  <div class="design-thumbnails-container">
    <div class="design-thumb">
      <img src="/upload/images/bandera.jpg">
      <span class="hide">Teste de texto</span>
    </div>
    <div class="design-thumb">
      <img src="/upload/images/colorful.jpg">
      <span class="hide"></span>
    </div>
    <div class="design-thumb">
      <img src="/upload/images/a2d-arts.jpg">
      <span class="hide"></span>
    </div>
    <div class="design-thumb">
      <img src="/upload/images/test.jpg">
      <span class="hide"></span>
    </div>
    <div class="design-thumb">
      <img src="/upload/images/bandera.jpg">
      <span class="hide"></span>
    </div>
    <div class="design-thumb">
      <img src="/upload/images/colorful.jpg">
      <span class="hide"></span>
    </div>
    <div class="design-thumb">
      <img src="/upload/images/a2d-arts.jpg">
      <span class="hide"></span>
    </div>
    <div class="design-thumb">
      <img src="/upload/images/test.jpg">
      <span class="hide"></span>
    </div>
  </div>
  <div class="design-thumbnails-bottom">
    <button class="design-thumb-button design-thumb-button-active"></button>
    <button class="design-thumb-button"></button>
  </div>         
</div>
<br>

<div class="design-thumbnails">
  <h4>Galeria</h4>
  <div class="design-thumbnails-container">
    <div class="design-thumb">
      <img src="/upload/images/colorful.jpg">
      <span class="hide"></span>
    </div>
  </div> 
  <div class="design-thumbnails-bottom"></div>      
</div>
<br>
<div class="design-thumbnails">
  <h4>Galeria</h4>
  <div class="design-thumbnails-container">
    <div class="design-thumb">
      <img src="/upload/images/bandera.jpg">
      <span class="hide">Teste de texto</span>
    </div>
    <div class="design-thumb">
      <img src="/upload/images/colorful.jpg">
      <span class="hide"></span>
    </div>
    <div class="design-thumb">
      <img src="/upload/images/a2d-arts.jpg">
      <span class="hide"></span>
    </div>
    <div class="design-thumb">
      <img src="/upload/images/test.jpg">
      <span class="hide"></span>
    </div>
    <div class="design-thumb">
      <img src="/upload/images/bandera.jpg">
      <span class="hide"></span>
    </div>
    <div class="design-thumb">
      <img src="/upload/images/colorful.jpg">
      <span class="hide"></span>
    </div>
    <div class="design-thumb">
      <img src="/upload/images/a2d-arts.jpg">
      <span class="hide"></span>
    </div>
    <div class="design-thumb">
      <img src="/upload/images/test.jpg">
      <span class="hide"></span>
    </div>
    <div class="design-thumb">
      <img src="/upload/images/test.jpg">
      <span class="hide"></span>
    </div>
    <div class="design-thumb">
      <img src="/upload/images/colorful.jpg">
      <span class="hide"></span>
    </div>
    <div class="design-thumb">
      <img src="/upload/images/a2d-arts.jpg">
      <span class="hide"></span>
    </div>
    <div class="design-thumb">
      <img src="/upload/images/test.jpg">
      <span class="hide"></span>
    </div>
    <div class="design-thumb">
      <img src="/upload/images/test.jpg">
      <span class="hide"></span>
    </div>
  </div>
  <div class="design-thumbnails-bottom">
    <button class="design-thumb-button design-thumb-button-active"></button>
    <button class="design-thumb-button"></button>
  </div>         
</div>

<button id="more-print" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" style="margin: auto; border-radius: 5px;">
  <i class="material-icons">add</i> Carregar mais
</button>

<div class="mdl-cell mdl-cell--12-col">
  <br><br>
  <hr>
  <a class="accent no-decoration design-totop" href="#design"><i class="material-icons accent">arrow_drop_up</i> Retornar ao topo</a>
  <br><br>
</div>

<div class="mdl-cell mdl-cell--12-col design-art">
  <h2 id="artes">Artes .</h3>
  <h6 class="subtitle">Todos os projetos desenvolvidos em design. Cada trabalho organizado em categorias e por data mais recente.</h6>
  
</div>

<div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop mdl-card mdl-shadow--2dp design-cell">           
  <img data-row="{&quot;id&quot;:40,&quot;title&quot;:&quot;Mega Burgão&quot;,&quot;date&quot;:&quot;01 de dezembro de 2020&quot;,&quot;text&quot;:&quot;Texto falando sobre a criação do folder do Mega Burgão&quot;}" alt="" class="card-image design-image" src="/upload/images/folder-megaBurguerv2.jpg">                                
</div>        
<div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop mdl-card mdl-shadow--2dp design-cell">
  <img alt="" class="card-image design-image" src="/upload/images/a2d-arts.jpg">
</div>
<div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop mdl-card mdl-shadow--2dp design-cell">
    <img alt="" class="card-image design-image" src="/upload/images/a2d-arts.jpg">
</div>
<div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop mdl-card mdl-shadow--2dp design-cell">
  <img alt="" class="card-image design-image" src="/upload/images/a2d-arts.jpg">
</div>
<div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop mdl-card mdl-shadow--2dp design-cell">
  <img alt="" class="card-image design-image" src="/upload/images/a2d-arts.jpg">
</div>
<div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop mdl-card mdl-shadow--2dp design-cell">
  <img alt="" class="card-image design-image" src="/upload/images/a2d-arts.jpg">
</div>
<div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop mdl-card mdl-shadow--2dp design-cell">
  <img alt="" class="card-image design-image" src="/upload/images/a2d-arts.jpg">
</div>
<div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop mdl-card mdl-shadow--2dp design-cell">
  <img data-row="{&quot;id&quot;:50,&quot;title&quot;:&quot;Criação de Posts&quot;,&quot;date&quot;:&quot;04 de fevereiro de 2022&quot;,&quot;text&quot;:&quot;Um texto de exemplo comentando a imagem&quot;}" alt="" class="card-image design-image" src="/upload/images/a2d-arts.jpg">
</div>

<button id="more-art" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" style="margin: auto; border-radius: 5px;">
  <i class="material-icons">add</i> Carregar mais
</button>

<div class="mdl-cell mdl-cell--12-col">
  <br><br>
  <hr>
  <a class="accent no-decoration design-totop" href="#design"><i class="material-icons accent">arrow_drop_up</i> Retornar ao topo</a>
  <br><br>
</div>

<div class="mdl-cell mdl-cell--12-col">
  <h2 id="videos">Vídeos .</h3>
  <h6 class="subtitle">Todos os vídeos produzidos ou editados por mim, clique em cada um para reproduzí-los e obter maiores detalhes.</h6>          
</div>
    <div class="video-container">
      <div class="video-header">
        <span class="video-close">&times;</span>
      </div> 
      <video class="video-player" controls preload="none" type="video/mp4">
      </video>              
      <h4 class="video-title"></h4>
      <hr>
      <p class="video-date"></p>
      <p class="video-description"></p>
    </div>

    <div class="video-thumbnails design-vid">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop mdl-card mdl-shadow--2dp video-item">           
        <img data-row="{&quot;id&quot;:40,&quot;title&quot;:&quot;Paulista Burguer - 3 Anos&quot;,&quot;date&quot;:&quot;01 de dezembro de 2020&quot;,&quot;text&quot;:&quot;Texto falando sobre a criação do folder do Mega Burgão&quot;,&quot;videosrc&quot;:&quot;/upload/videos/3anosPaulistaBurguer.mp4&quot;}" alt="" class="video-thumb" src="/upload/videos/thumbs/pb3anos.jpg">                                
      </div>
      <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop mdl-card mdl-shadow--2dp video-item">           
        <img data-row="{&quot;id&quot;:40,&quot;title&quot;:&quot;Paulista Burguer - Dia dos Pais&quot;,&quot;date&quot;:&quot;01 de dezembro de 2020&quot;,&quot;text&quot;:&quot;Texto falando sobre a criação do folder do Mega Burgão&quot;,&quot;videosrc&quot;:&quot;/upload/videos/paulistaBurguerDiaPais.mp4&quot;}" alt="" class="video-thumb" src="/upload/videos/thumbs/pbfathers.jpg">                                
      </div>      
    </div>

    <button id="more-vid" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" style="margin: auto; border-radius: 5px;">
      <i class="material-icons">add</i> Carregar mais
    </button>
    
    <div class="expandable">
      <div class="expandable-content hide">
        <p>Quando comecei com a edição e produção de vídeos, escolhi o Openshot. As primeiras tarefas que recebi, antes mesmo de me tornar designer, se tratavam de tarefas triviais de edição: recortar e unir segmentos de vídeo com imagens, no muito adicionar algum texto ou aplicar transições. O Openshot oferecia alguns efeitos de fábrica bastante interessantes e serviu bem para essa finalidade. Porém, ele travava constantemente e, com o tempo, passei a buscar alternativas.
        <br>
        A segunda opção foi o Shotcut, outra ferramenta de edição simples, talvez, simples demais: a quantidade de efeitos era muito limitada, até mesmo tarefas simples como posicionar os elementos no vídeo, ampliar ou reduzir itens não tinham solução trivial. Por conta disso, tive que desenhar efeitos à mão, quadro a quadro para conseguir torná-lo usável. Até mesmo reordenar camadas de vídeo não era possível, uma ferramenta simplificada e suas grandes limitações foram se tornando cada vez mais inviáveis.
        <br>
        Atualmente, utilizo o HitFilm Express, um editor muito completo e com ferramenta embutida para criar efeitos. A curva de aprendizado foi muito menor do que eu esperava e é o aplicativo que eu recomendo para quem necessitar fazer edições de vídeo mais complexas.
        </p>
      </div>
      <p class="expandable-title"><strong>Notas</strong> - clique para <span class="expandable-action">ampliar</span></p>
      <i class="material-icons expandable-button">add</i>            
      
    </div>
    
  
        



<div class="mdl-cell mdl-cell--12-col">
  <br>
  <a class="accent no-decoration design-totop" href="#design"><i class="material-icons accent">arrow_drop_up</i> Retornar ao topo</a>
  <br>
  <br>          
  <br>
  <br>
  
</div>

<%- include('includes/modals') -%>
<%- include('includes/footer') -%>
<script src="/js/designController.js"></script>
<script src="/js/design.js"></script>