<%- include('includes/header') -%>

<div class="mdl-cell mdl-cell--12-col index-top">
  <img id="index-img" src="/images/index_img.png">
  <div class="index-intro">
    <h1 class="index-header">Bem vindo!</h1>
    <p>Fique à vontade para explorar o site e descobrir todos os projetos de software e recursos de design desenvolvidos por mim. Também gosto de partilhar através do blog as soluções empreendidas em meus trabalhos, lições aprendidas e outros tópicos de interesse, incluindo, mas não limitado às áreas de desenvolvimento web, inteligência artificial e programação em geral.</p>
  </div>
</div>

<div class="mdl-cell mdl-cell--12-col index-abt">
  <div class="index-about index-about-left"><a class="index-dark-href" href="/about"><span class="material-icons">add</span></a></div>
  <div class="index-about index-about-right"><a class="index-dark-href" href="/about">Clique aqui para continuar lendo</a></div>  
  <div class="index-hr"></div>
</div>

<div class="mdl-cell mdl-cell--12-col index-blog-title">
  <div class="index-blog-stripes"></div>
  <div class="index-blog">
    <h1>: : Blog .</h1>
  </div>
  <div class="index-blog index-blog-yellow"></div>
</div>

<div id="iblog1" class="mdl-cell mdl-cell--8-col mdl-card mdl-shadow--2dp index-blog-newest iblog hide">      
  <div class="index-blog-newest-head">
    <div class="index-blog-newest-top2"></div>
    <div class="index-blog-newest-top"></div>    
  </div>
  <div id="iblog-img1" class="index-blog-img iblog-img" style=" background-image: url(/upload/images/post-test3.jpg);"></div>
  
  <div class="index-blog-date">
    <span class="index-blog-recentmarker"><i class="material-icons">newspaper</i> MAIS RECENTE</span>
    <div id="iblog-date1" class="iblog-date"> 30 de Agosto de 2022, às 14h30</div>
  </div>
  <div class="mdl-card__title">
    <a href="#" id="iblog-title1" class="index-blog-posttitle iblog-title">Artigo mais recente</a>    
  </div>  
  <div class="mdl-card__supporting-text">
    <span id="iblog-text1" class="iblog-text">Abstract do artigo, vamos tentar alargar um pouco mais este texto para ver como ele se ajusta em relação ao rodapé que contém as categorias do post mais recente do Blog.</span>
    <a id="iblog-link1" class="index-read-btn iblog-link" href="#"><i class="material-icons">keyboard_double_arrow_right</i><span> CONTINUAR LENDO</span></a>
  </div>
  <div class="index-cat-section">
    <hr>
    <span>Categorias:</span> <span id="iblog-catlist1" class="iblog-cat"><a class="index-cat-link" href="#">cat1</a>, <a class="index-cat-link" href="#">cat2</a>, <a class="index-cat-link" href="#">cat3</a>.</span>
  </div>
  
  
  
</div>

<div id="iblog2" class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp index-blog-newest iblog hide">    
  <div class="index-blog-newest-top"></div> 
  <div id="iblog-img2" class="index-blog-img iblog-img" style=" background-image: url(/upload/images/post-test3.jpg);"></div>
  <div class="index-blog-date"></div>
  <div class="mdl-card__title">
    <a href="#" id="iblog-title2" class="index-blog-posttitle iblog-title">Segundo artigo mais recente</a>    
  </div>    
  <div class="mdl-card__supporting-text">
  <span id="iblog-date2" class="article-date iblog-date"> 29 de Agosto de 2022, às 15h30</span>
  <hr>  
  <span id="iblog-text2" class="iblog-text">Abstract do segundo artigo mais recente... vamos digitar um texto ligeiramente mais longo para observar a quebra de linhas do container.</span>

  <a id="iblog-link2" class="index-read-btn iblog-link" href="#"><i class="material-icons">keyboard_double_arrow_right</i><span> CONTINUAR LENDO</span></a>  
  </div>
  <div class="index-cat-section"> 
    <hr>   
    <span>Categorias:</span>
    <span id="iblog-catlist2" class="iblog-cat"><a class="index-cat-link" href="#">cat1</a>, <a class="index-cat-link" href="#">cat2</a>, <a class="index-cat-link" href="#">cat3</a>.</span> 
  </div>
</div>

<div id="iblog3" class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp iblog hide">
  <div class="mdl-card__title index-blog-greytitle">
    <a href="#" id="iblog-title3" class="index-blog-posttitle iblog-title">Terceiro artigo mais recente do site</a>
  </div>
  <div id="iblog-img3" class="index-blog-img iblog-img" style=" background-image: url(/upload/images/post-test3.jpg);"></div>
  <div class="mdl-card__supporting-text">
    <span id="iblog-date3" class="article-date iblog-date"> 15 de Agosto de 2022, às 21h15</span>
    <hr>
    <span id="iblog-text3" class="iblog-text">Agora temos mais um sumário do terceiro artigo mais recente do site, vamos esperar que este texto fique largo o suficiente para dar uma boa idéia de como este bloco de texto será visualizado no site. Será que eu já consegui digitar um texto suficientemente grande? Veremos.</span>

    <a id="iblog-link3" class="index-read-btn iblog-link" href="#"><i class="material-icons">keyboard_double_arrow_right</i><span> CONTINUAR LENDO</span></a>
  </div>
  <div class="index-cat-section">
    <hr>
    <span>Categorias:</span>
    <span id="iblog-catlist3" class="iblog-cat">
      <a class="index-cat-link" href="#">cat1</a>, <a class="index-cat-link" href="#">cat2</a>, <a class="index-cat-link" href="#">cat3</a>.
    </span>
  </div>
</div>

<div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-phone index-blog-8grid">

  <div id="iblog4" class="mdl-card mdl-shadow--2dp index-blog-fullcard iblog hide">
    <div id="iblog-img4" class="index-blog-img2 iblog-img" style=" background-image: url(/upload/images/post-test3.jpg);"></div>
    <div class="index-blog-forthpost">
        <div class="mdl-card__title">
          <a id="iblog-title4" href="#" class="index-blog-posttitle iblog-title">Quarto artigo mais recente do site</a>          
        </div>        
        <div class="mdl-card__supporting-text">
          <span id="iblog-date4" class="article-cover-date iblog-date"> 13 de Julho de 2022, às 09h47</span>
          <hr>
          <span id="iblog-text4" class="iblog-text">Texto de apoio ao artigo. Seria bom se esse texto fosse um pouquinho mais longo, não? Vamos continuar digitando o preview do artigo até ele obter um tamanho razoável. Será que agora eu consegui digitar o tamanho necessário para testar essa caixinha no site?</span>
          <a id="iblog-link4" class="index-read-btn2 iblog-link" href="#"><i class="material-icons">keyboard_double_arrow_right</i><span> CONTINUAR LENDO</span></a>
        </div>  
        <div class="index-cat-section2">
          <hr>
          <span>Categorias:</span>
          <span id="iblog-catlist4" class="iblog-cat"><a class="index-cat-link2" href="#">cat1</a>, <a class="index-cat-link2" href="#">cat2</a>, <a class="index-cat-link2" href="#">cat3</a>.</span> 
        </div>
    </div>
  </div>  

  <div id="iblog5" class="mdl-card mdl-shadow--2dp index-blog-fullcard2 iblog hide">
      <div>
        <div class="mdl-card__title">
          <a id="iblog-title5" href="#" class="index-blog-posttitle iblog-title">Quinto artigo mais recente do site</a>
        </div>
        <div class="mdl-card__supporting-text">          
          <span id="iblog-date5" class="article-date iblog-date"> 10 de Julho de 2022, às 07h55</span>
          <hr>
          <span id="iblog-text5" class="iblog-text">Último texto de suporte, desta vez para o quinto artigo mais recente do site. Devo continuar a digitar por mais algumas linhas até que este texto esteja grande o suficiente para preencher um parágrafo. E deste modo se encerra o texto do quinto post do blog.</span>
          <a id="iblog-link5" class="index-read-btn iblog-link" href="#"><i class="material-icons">keyboard_double_arrow_right</i><span> CONTINUAR LENDO</span></a>
        </div>
        <div class="index-cat-section">
          <hr>
          <span>Categorias:</span>
          <span id="iblog-catlist5" class="iblog-cat">
            <a class="index-cat-link" href="#">cat1</a>, <a class="index-cat-link" href="#">cat2</a>, <a class="index-cat-link" href="#">cat3</a>.
          </span>
        </div>
      </div>
      <div id="iblog-img5" class="index-blog-img3 iblog-img" style=" background-image: url(/upload/images/post-test3.jpg);"></div>
  </div>  
</div>


<div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp index-dev">
  <a href="/dev" class="no-decoration"><h1 class="index-dev-title">: : Dev : .</h1></a>  
</div>

<div id="idev1" class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp index-dev-item hide">
  <div class="index-dev-item-title">
    <a id="idev-title1" class="index-dev-title-link idev-title" href="#">Projeto no 1</a>    
    <br><br>
    <span id="idev-date1" class="article-cover-date index-dev-text idev-date"> 10 de Julho de 2022</span>    
    <div class="mdl-tooltip mdl-tooltip--large" for="idev-date1">
      Data de criação
    </div>
    <span id="idev-update1" class="index-dev-upd index-dev-text idev-update">15 de Julho de 2022</span>    
    <div class="mdl-tooltip mdl-tooltip--large" for="idev-update1">
      Última atualização
    </div>
    <span id="idev-ver1" class="index-dev-ver index-dev-text idev-ver">Versão: 0.5</span>
  </div>
  <div class="index-dev-item-desc">  
  <p id="idev-desc1" class="idev-desc">Um pequeno sumário a respeito do projeto, o texto deve ser sucinto para informar bem a respeito do que o visitante deve esperar ver a respeito do projeto. O texto também deve ser suficientemente longo para cobrir os dados mais importantes a respeito deste projeto em particular.</p>
  <a id="idev-link1" class="index-read-btn2 idev-link" href="#"><i class="material-icons">keyboard_double_arrow_right</i><span> ACESSAR PROJETO</span></a>  
  <hr>
  <b>Categorias: </b><span id="idev-catlist1" class="idev-cat">
    <a class="index-cat-link2" href="#">categoria 1</a>, <a class="index-cat-link2" href="#">categoria 2</a>, 
    <a class="index-cat-link2" href="#">categoria 3</a>.
  </span>
  
  </div>
  
</div>



<div id="idev2" class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp index-dev-item hide">
  <div class="index-dev-item-title">
    <a id="idev-title2" class="index-dev-title-link idev-title" href="#">Projeto no 2</a>    
    <br><br>
    <span id="idev-date2" class="article-cover-date index-dev-text idev-date"> 10 de Julho de 2022</span>    
    <div class="mdl-tooltip mdl-tooltip--large" for="idev-date2">
      Data de criação
    </div>
    <span id="idev-update2" class="index-dev-upd index-dev-text idev-update">15 de Julho de 2022</span>    
    <div class="mdl-tooltip mdl-tooltip--large" for="idev-update2">
      Última atualização
    </div>
    <span id="idev-ver2" class="index-dev-ver index-dev-text idev-ver">Versão: 0.5</span>
  </div>
  <div class="index-dev-item-desc">  
  <p id="idev-desc2" class="idev-desc">Um pequeno sumário a respeito do projeto, o texto deve ser sucinto para informar bem a respeito do que o visitante deve esperar ver a respeito do projeto. O texto também deve ser suficientemente longo para cobrir os dados mais importantes a respeito deste projeto em particular.</p>
  <a id="idev-link2" class="index-read-btn2 idev-link" href="#"><i class="material-icons">keyboard_double_arrow_right</i><span> ACESSAR PROJETO</span></a>  
  <hr>
  <b>Categorias: </b><span id="idev-catlist2" class="idev-cat">
    <a class="index-cat-link2" href="#">categoria 1</a>, <a class="index-cat-link2" href="#">categoria 2</a>, 
    <a class="index-cat-link2" href="#">categoria 3</a>.
  </span>
  
  </div>
  
</div>



<div id="idev3" class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp index-dev-item hide">
  <div class="index-dev-item-title">
    <a id="idev-title3" class="index-dev-title-link idev-title" href="#">Projeto no 3</a>    
    <br><br>
    <span id="idev-date3" class="article-cover-date index-dev-text idev-date"> 10 de Julho de 2022</span>    
    <div class="mdl-tooltip mdl-tooltip--large" for="idev-date3">
      Data de criação
    </div>
    <span id="idev-update3" class="index-dev-upd index-dev-text idev-update">15 de Julho de 2022</span>    
    <div class="mdl-tooltip mdl-tooltip--large" for="idev-update3">
      Última atualização
    </div>
    <span id="idev-ver3" class="index-dev-ver index-dev-text idev-ver">Versão: 0.5</span>
  </div>
  <div class="index-dev-item-desc">  
  <p id="idev-desc3" class="idev-desc">Um pequeno sumário a respeito do projeto, o texto deve ser sucinto para informar bem a respeito do que o visitante deve esperar ver a respeito do projeto. O texto também deve ser suficientemente longo para cobrir os dados mais importantes a respeito deste projeto em particular.</p>
  <a id="idev-link3" class="index-read-btn2 idev-link" href="#"><i class="material-icons">keyboard_double_arrow_right</i><span> ACESSAR PROJETO</span></a>  
  <hr>
  <b>Categorias: </b><span id="idev-catlist3" class="idev-cat">
    <a class="index-cat-link2" href="#">categoria 1</a>, <a class="index-cat-link2" href="#">categoria 2</a>, 
    <a class="index-cat-link2" href="#">categoria 3</a>.
  </span>
  
  </div>
  
</div>


<div class="mdl-cell mdl-cell--12-col index-dev-final">
  <div class="index-hr"></div>
  <div class="index-about index-about-left"><a class="index-dark-href" href="/dev"><span class="material-icons">add</span></a></div>
  <div class="index-about index-about-right"><a class="index-dark-href" href="/dev">Acesse a lista completa de projetos</a></div>  
  
</div>


<div class="mdl-cell mdl-cell--12-col index-design-title">
  <img src="/images/diamonds.png">
  <a href="/design" class="no-decoration"><h1>Design</h1></a>    
  
</div>    

<div class="mdl-cell mdl-cell--12-col index-design mdl-shadow--2dp">

  
  <div class="index-design-grid mdl-shadow--2dp">
    <div class="index-design-fullitem">
      Venha conhecer meu portfólio! Nele você irá encontrar:
    </div>

    <div class="index-design-item">
      <i class="material-icons">storm</i>
      <h3>.Logos</h3>
      <p>Conheça as logomarcas desenvolvidas por mim. Para cada logo incluo comentários a respeito do processo de criação, os programas utilizados.</p>
      <a class="index-read-btnw" href="/design#logos"><i class="material-icons">keyboard_double_arrow_right</i><span> ACESSE</span></a>  
    </div>

    <div class="index-design-divider"></div>

    <div class="index-design-item">
      <i class="material-icons">style</i>
      <h3>.Gráfica</h3>
      <p>Showcase de materiais gráficos confeccionados para impressão: cartões de visita, folders, cardápios, catálogos.</p>
      <a class="index-read-btnw" href="/design#grafica"><i class="material-icons">keyboard_double_arrow_right</i><span> ACESSE</span></a>
    </div>

    <div class="index-design-divider-alt"></div>
    
    <div class="index-design-item">
      <i class="material-icons">draw</i>
      <h3>.Artes</h3>
      <p>Aqui estão as artes desenvolvidas para divulgação em redes sociais. Você encontrará artes para postagem em feeds, stories, posts em formato carrossel, etc.</p>
      <a class="index-read-btnw" href="/design#artes"><i class="material-icons">keyboard_double_arrow_right</i><span> ACESSE</span></a>  
    </div>

    <div class="index-design-divider"></div>

    <div class="index-design-item">
      <i class="material-icons">movie</i>
      <h3>.Vídeos</h3>
      <p>Encontre todos os vídeos editados por mim. Nesta seção você encontrará vídeos com extensão variável para divulgação em redes sociais.</p>
      <a class="index-read-btnw" href="/design#videos"><i class="material-icons">keyboard_double_arrow_right</i><span> ACESSE</span></a>
    </div>
  </div>
  <div class="index-design-bottomline"></div>

</div>

<div class="mdl-cell mdl-cell--12-col index-center-square">
  <div class="index-square"></div>
  <div class="index-square"></div>
  <div class="index-square"></div>
  <div class="index-square"></div>
</div>



<%- include('includes/modals') -%>
<%- include('includes/footer') -%>
<script src="/js/PrettyDate.js"></script>
<script src="/js/index.js"></script>